.Rproj.user
.Rhistory
.RData
.Ruserdata
./s01*
*.hes
*.sso
*.html
*.png
*.xlsx
*.csv
s_*/
s01*/
s01*/
s1*/
s2*/
s3*/
s4*/
s5*/
s6*/
s7*/
s8*/
test*/
test2*/
Ejercicios*/
Figs*/
*.pdf
*.html
index_files*/
*.docx